<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Inhaalexamens</title>
</head>
<body>
  <h1>All inhaalexamens</h1>
 <br/><br/>
  <ul>
  <% inhaalexamens.forEach(function(exaam) { %>
    <li>
      <span><b>Student : </b><%= exaam.student %></span><br />
      <span><b>Examen : </b><%= exaam.exaam %></span><br />
      <span><b>Reden : </b><%= exaam.reden %></span><br />
      <span><b>Date : </b><%= exaam.datum %></span><br />
    </li>
  <% }) %>
  </ul>
<br/>

<a href='/inhaalexamens/add'>Add inhaalexaam</a>  <a href='/inhaalexamens/search'>Search student</a>

</body>
</html>